<div class="p-3"> 
	
	<h1 class="text-muted">
		О проекте
	</h1>
	<p class="lead">
		Изначально задуман как pet-проект МИС c открытым исходным кодом.
		В качестве бесплатной альтернативы с легким интерфейсом и минимумом ненужных функций, ядро которого вы можете модифицировать и дорабатывать под свои нужды.
	</p>
	<hr />
	<p class="lead">Среди главных идей:</p>

	<dl class="dl-horizontal m-0 row">
	  <dt class="col-sm-4">Кроссплатформенность и автономность</dt>
	  <dd class="col-sm-8">Что подразумевает толстый клиент, способный работать оффлайн с возможностью синхронизации,
							как инструмент для выезда на дом и в труднодоступные места</dd>

	  <dt class="col-sm-4">Мобильность</dt>
	  <dd class="col-sm-8">Врач закреплен за устройством, это дает возможность иметь его всегда при себе, и не быть привязанным к рабочему месту, или оператору.
							В отличие от ноутбука, планшетом удобно пользоваться, оставаясь при этом мобильным</dd>
	  <dd class="col-sm-8 offset-sm-4">Интерфес главным образом расчитан на сенсорные устройства диагональю 10 дюймов</dd>

	  <dt class="col-sm-4">Минимум ручного ввода</dt>
	  <dd class="col-sm-8">Все процедуры и каталоги стандартизированы и типизированы, что позволяет максимально автоматизировать работу и избежать человеческого фактора</dd>

	  <dt class="col-sm-4">Клиент имеет право знать</dt>
	  <dd class="col-sm-8">Клиенсткое web-приложение предоставляет не только стандартные функции записей, но и подробного просмотра различных результатов проведенных процедур</dd>
	</dl>

	<hr />
	<div class="row m-0">
		<div class="col-md p-0">
			<p class="lead">Запланированные модули:</p>
			<ul>
				<li>Амбулаторный прием</li>
				<li>Стационарное наблюдение</li>
				<li>Лабараторный и функциональный анализ</li>
				<li>Регистратура</li>
				<li>Менеджмент и управление</li>
				<li>Администрирование</li>
			</ul>
		</div>
		<div class="col-md p-0">
			<p class="lead">А так же:</p>
			<ul>
				<li>Единая система реестров учета</li>
				<li>Интеграция с другими медицинскими сервисами</li>
				<li>Текстовые и видеочаты между пациентом и доктором</li>
			</ul>
		</div>
	</div>

	<hr />
	<p>
		Исходный код проекта доступен на <a href="https://github.com/AdvanGit/CodeBlueAssistant">GitHub</a> , а так же <a href="https://github.com/AdvanGit/CodeBlueAssistant/releases">ссылки</a> на скачивание Windows приложения
	</p>

</div>