@{
	ViewData["Title"] = "Запись на прием";
}

<style>
	.custom-control-lg .custom-checkbox{
	padding-left: 0;
	}

	.custom-control-lg .custom-control-label::before,
	.custom-control-lg .custom-control-label::after {
		top: 0.1rem;
		left: -2rem;
		width: 1.3rem;
		height: 1.3rem;
	}

	.custom-control-lg .custom-control-label {
		margin-left: 0.5rem;
		font-size: 1rem;
	}
</style>

<div class="m-3">
	
	<div class="table-responsive rounded shadow">
	
		<p class="bg-primary text-white p-2">Параметры поиска</p>

		<div class="px-3">
			<div class="form-group row m-0 align-items-center">
				<label for="titleId" class="p-0 col-sm-3">Выберите отделение</label>
				<select class="custom-select col-sm-9" asp-items="@ViewBag.DepartmentList" itemid="itemTitleId" id="titleId"></select>
			</div>

			<div class="form-group row m-0 my-3 align-items-center">
				<label for="date" class="p-0 m-0 col-sm-3">Выберите дату</label>

				<div class="col-sm-5 py-2 d-flex align-items-center custom-control custom-checkbox custom-control-lg">
					<input type="checkbox" for="isFirstFree" class="custom-control-input " id="dateSwitch" onclick="hideDiv(this)">
					<label class="custom-control-label" id="isFirstFree" for="dateSwitch">Ближайшая доступная</label>
				</div>

				<input class="form-control col-sm-4" type="date" id="dateField" value="@DateTime.Today.ToString("yyyy-MM-dd")" placeholder="Введите дату">
			</div>
			
			<button type="button" onclick="getDoctorsResult()" class="btn btn-outline-secondary mb-3 w-100">Поиск</button>
		</div>

	</div>

	<div>
		<div class="my-3" id="doctorsPartial"/>
	</div>

	<div>
		<div class="my-3"  id="entriesPartial"/>
	</div>

</div>

<script>
	var currentEntryId;

	function hideDiv(obj) {
		if (obj.checked) {
			$("#dateField").hide();
		}
		else {
			$("#dateField").show();
		}
	}

	function getDoctorsResult(){
		$("#doctorsPartial").empty();
		$("#entriesPartial").empty();

		$.ajax({
			url: '@Url.Action("DoctorsList", "Appointment")',
			type: "post",
			dataType: "html",
			cache: false,
			data: {
				__RequestVerificationToken: getToken(),
				titleId: document.getElementById('titleId').value,
				isFirstFree: document.getElementById('dateSwitch').checked, 
				date: document.getElementById('dateField').value
			},
			success: function (result) {
				$("#doctorsPartial").html(result);
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				alert(errorThrown);
			}
		});
	}

	function getEntries(doctorId, targetDateTime){

		$.ajax({
			url: '@Url.Action("EntriesList", "Appointment")',
			type: "post",
			dataType: "html",
			cache: false,
			data: {
				__RequestVerificationToken: getToken(),
				doctorId: doctorId,
				date: targetDateTime
			},
			success: function (result) {
				$("#entriesPartial").html(result);
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				alert(errorThrown);
			}
		});
	}
</script>