<div class="collapse show" id="notificationArea">
		<div class="alert alert-@ViewBag.Type m-0 mx-2 mt-2" role="alert" type="button" data-toggle="collapse" data-target="#notificationArea" aria-expanded="false" aria-controls="notificationArea">
			@ViewBag.Message 
		</div>
</div>