@model Patient
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


<style>
    .custom-control-lg .custom-control-label::before,
    .custom-control-lg .custom-control-label::after {
        top: 0.1rem;
        left: -2rem;
        width: 1.3rem;
        height: 1.3rem;
    }

    .custom-control-lg .custom-control-label {
        margin-left: 0.5rem;
        font-size: 1rem;
}
</style>

<form asp-action="Login" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-anti-forgery="true">


    <div class="d-flex justify-content-center mt-3">
        <div class="card p-0 border-0 shadow" style="max-width:40rem; flex:1 1 auto;">

            <div class="card-header text-center text-white bg-primary">Вход</div>

            <div class="card-body">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="PhoneNumber">Номер телефона</label>
                    <div class="inner-addon left-addon">
                        <i class="bi bi-telephone-fill"></i>
                        <input type="tel"
                            class="form-control"
                            asp-for="PhoneNumber"
                            required
                            placeholder="введите номер телефона"
                            data-val="true" data-val-required="номер телефона является обязательным"/>
                        <span class="field-validation-valid" data-valmsg-for="PhoneNumber" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PasswordHash">Пароль</label>
                    <div class="inner-addon left-addon">
                        <i class="bi bi-lock-fill"></i>
                        <input type="password"
                            asp-for="PasswordHash" required
                            class="form-control"  
                            data-val="true" data-val-required="пароль является обязательным"
                            placeholder="введите пароль" />
                        <span class="field-validation-valid" data-valmsg-for="PasswordHash" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <input asp-for="FirstName" hidden value="Фамилия"/>
        		<input asp-for="MidName" hidden value="Имя"/>
            </div>

            <div class="card-footer row m-0">
                <a class="btn btn-outline-secondary col mr-4" asp-action="Register" asp-controller="Account">Регистрация</a>
                <input type="submit" value="Войти" class="btn btn-primary col ml-4" />
            </div>

        </div>
    </div>
</form>


<div  id="demoPartial" class="d-flex justify-content-center mt-3">
    <button class="btn btn-link" onclick="getAccounts()">
        Получить демо аккаунты
    </button>
</div>


<script>
	function getAccounts(){

			$.ajax({
				url: '@Url.Action("GetDemoAccounts")',
				type: "post",
				dataType: "html",
				cache: false,
				data: {
					__RequestVerificationToken: getToken(),
				},
				success: function (result) {
					$("#demoPartial").html(result);
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					alert(errorThrown);
				}
			});
		}
</script>